In [171]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from scipy import stats
%matplotlib inline

import statsmodels.api as sm

In [177]:
df=pd.read_csv("database.csv")
df.sample(5)

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_ELIGIBILITY,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION
3350,186432,Saint Peter's University,1,2014,2,Men's Basketball,1,3,Metro Atlantic Athletic Conference,53,...,1.0,1.0000,12,913,0.913,0.913,13,942,0.9615,0.9231
2589,166027,Harvard University,1,2014,23,Women's Fencing,1,2,The Ivy League,34,...,1.0,1.0000,9,1000,1.000,1.000,7,1000,1.0000,1.0000
5078,217864,The Citadel,0,2014,25,Women's Golf,1,2,Southern Conference,26,...,1.0,1.0000,5,950,0.900,1.000,5,1000,1.0000,1.0000
3603,192703,Manhattan College,1,2014,28,Women's Lacrosse,1,3,Metro Atlantic Athletic Conference,86,...,1.0,0.9756,22,1000,1.000,1.000,18,986,1.0000,0.9714
3441,190099,Colgate University,1,2014,8,Men's Ice Hockey,1,2,Patriot League,73,...,1.0,1.0000,16,1000,1.000,1.000,20,988,1.0000,0.9750

In [174]:
df.columns

Index(['SCHOOL_ID', 'SCHOOL_NAME', 'SCHOOL_TYPE', 'ACADEMIC_YEAR',
       'SPORT_CODE', 'SPORT_NAME', 'NCAA_DIVISION', 'NCAA_SUBDIVISION',
       'NCAA_CONFERENCE', 'FOURYEAR_ATHLETES', 'FOURYEAR_SCORE',
       'FOURYEAR_ELIGIBILITY', 'FOURYEAR_RETENTION', '2014_ATHLETES',
       '2014_SCORE', '2014_ELIGIBILITY', '2014_RETENTION', '2013_ATHLETES',
       '2013_SCORE', '2013_ELIGIBILITY', '2013_RETENTION', '2012_ATHLETES',
       '2012_SCORE', '2012_ELIGIBILITY', '2012_RETENTION', '2011_ATHLETES',
       '2011_SCORE', '2011_ELIGIBILITY', '2011_RETENTION', '2010_ATHLETES',
       '2010_SCORE', '2010_ELIGIBILITY', '2010_RETENTION', '2009_ATHLETES',
       '2009_SCORE', '2009_ELIGIBILITY', '2009_RETENTION', '2008_ATHLETES',
       '2008_SCORE', '2008_ELIGIBILITY', '2008_RETENTION', '2007_ATHLETES',
       '2007_SCORE', '2007_ELIGIBILITY', '2007_RETENTION', '2006_ATHLETES',
       '2006_SCORE', '2006_ELIGIBILITY', '2006_RETENTION', '2005_ATHLETES',
       '2005_SCORE', '2005_ELIGIBILITY', '2005_RETENTION', '2004_ATHLETES',
       '2004_SCORE', '2004_ELIGIBILITY', '2004_RETENTION'],
      dtype='object')

In [180]:
df.drop(df[df['2004_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2005_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2006_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2007_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2008_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2009_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2010_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2011_RETENTION'] ==-99.0000].index, inplace=True)
df.drop(df[df['2012_RETENTION'] ==-99.0000].index, inplace=True)
df.drop('ACADEMIC_YEAR',axis=1)
df.drop('SCHOOL_TYPE',axis=1)
df = df.reset_index(drop=True)
df.sample(5) 

# i know this can be looped, but too lazy atm

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION,avg_scores
3661,203517,Kent State University,0,2014,4,Football,1,1,Mid-American Conference,347,...,0.9398,87,897,0.8820,0.9063,92,945,0.9128,0.9649,936.636364
124,102094,University of South Alabama,0,2014,25,Women's Golf,1,1,Sun Belt Conference,28,...,1.0000,10,974,1.0000,0.9474,7,1000,1.0000,1.0000,986.090909
4269,217688,Charleston Southern University,1,2014,15,"Men's Track, Outdoor",1,2,Big South Conference,77,...,1.0000,21,917,0.9048,0.9286,13,979,0.9583,1.0000,917.727273
2981,191241,Fordham University,1,2014,29,Women's Softball,1,2,Atlantic 10 Conference,64,...,1.0000,17,1000,1.0000,1.0000,18,1000,1.0000,1.0000,984.090909
1667,155317,University of Kansas,0,2014,19,Women's Basketball,1,1,Big 12 Conference,48,...,0.9259,13,958,0.9583,0.9583,16,847,0.8667,0.8276,957.272727

In [181]:
df['avg_scores']=df[['2014_SCORE','2013_SCORE','2012_SCORE','2011_SCORE','2010_SCORE','2009_SCORE','2008_SCORE','2007_SCORE','2006_SCORE','2005_SCORE','2004_SCORE']].mean(axis=1)
df[['SCHOOL_NAME','SPORT_NAME','avg_scores']]

                 SCHOOL_NAME              SPORT_NAME   avg_scores
0     Alabama A&M University                Baseball   938.090909
1     Alabama A&M University                Football   925.181818
2     Alabama A&M University        Men's Basketball   933.363636
3     Alabama A&M University    Men's Track, Outdoor   940.454545
4     Alabama A&M University      Women's Basketball   987.909091
...                      ...                     ...          ...
5442       Purdue University        Women's Swimming   975.363636
5443       Purdue University          Women's Tennis   972.545455
5444       Purdue University   Women's Track, Indoor   975.909091
5445       Purdue University  Women's Track, Outdoor   977.181818
5446       Purdue University      Women's Volleyball  1000.000000

[5447 rows x 3 columns]

In [149]:
df[['SPORT_CODE','SPORT_NAME']].sample(50)

      SPORT_CODE              SPORT_NAME
4457          35  Women's Track, Outdoor
3353          11            Men's Soccer
664           13            Men's Tennis
5361          33          Women's Tennis
6318          26      Women's Gymnastics
6184          11            Men's Soccer
5392          25            Women's Golf
5091          15    Men's Track, Outdoor
3207          27      Women's Ice Hockey
3541           3     Men's Cross Country
4540          15    Men's Track, Outdoor
6076          29        Women's Softball
5476           1                Baseball
4993          32        Women's Swimming
397           19      Women's Basketball
6199           3     Men's Cross Country
4766           1                Baseball
3786           1                Baseball
226           15    Men's Track, Outdoor
2958          19      Women's Basketball
3518           3     Men's Cross Country
5608          35  Women's Track, Outdoor
544           15    Men's Track, Outdoor
2273          25            Women's Golf
4935          31          Women's Soccer
4805          12          Men's Swimming
1461          36      Women's Volleyball
2064          13            Men's Tennis
354           36      Women's Volleyball
1475          31          Women's Soccer
3933           1                Baseball
5335          14     Men's Track, Indoor
5996          24    Women's Field Hockey
6370          31          Women's Soccer
5573          33          Women's Tennis
2132          35  Women's Track, Outdoor
1112          33          Women's Tennis
3928          32        Women's Swimming
3326           4                Football
5981          34   Women's Track, Indoor
5276          33          Women's Tennis
4707          31          Women's Soccer
3986          21   Women's Cross Country
3760          29        Women's Softball
3425          11            Men's Soccer
2204           1                Baseball
729           12          Men's Swimming
2719          34   Women's Track, Indoor
3533          34   Women's Track, Indoor
1261          12          Men's Swimming

In [150]:

df['avg_scores']=df[['2014_SCORE','2013_SCORE','2012_SCORE','2011_SCORE','2010_SCORE','2009_SCORE','2008_SCORE','2007_SCORE','2006_SCORE','2005_SCORE','2004_SCORE']].mean(axis=1)
df[['SCHOOL_NAME','SPORT_NAME','avg_scores']]

                        SCHOOL_NAME          SPORT_NAME  avg_scores
0            Alabama A&M University            Baseball  938.090909
1            Alabama A&M University            Football  925.181818
2            Alabama A&M University    Men's Basketball  933.363636
3            Alabama A&M University          Men's Golf  715.090909
4            Alabama A&M University        Men's Tennis  279.727273
...                             ...                 ...         ...
6506  Florida Gulf Coast University      Women's Soccer  578.272727
6507  Florida Gulf Coast University    Women's Softball  582.727273
6508  Florida Gulf Coast University    Women's Swimming  585.545455
6509  Florida Gulf Coast University      Women's Tennis  588.545455
6510  Florida Gulf Coast University  Women's Volleyball  574.818182

[6511 rows x 3 columns]

In [151]:
df.drop('ACADEMIC_YEAR',axis=1)

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,FOURYEAR_SCORE,...,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION,avg_scores
0,100654,Alabama A&M University,0,1,Baseball,1,2,Southwestern Athletic Conference,80,931,...,0.9487,21,917,0.8810,0.9524,20,975,0.9750,0.9750,938.090909
1,100654,Alabama A&M University,0,4,Football,1,2,Southwestern Athletic Conference,321,932,...,0.9630,74,921,0.8759,0.9655,74,871,0.8601,0.8811,925.181818
2,100654,Alabama A&M University,0,2,Men's Basketball,1,2,Southwestern Athletic Conference,43,964,...,0.8462,11,909,0.9091,0.9091,10,950,0.9500,0.9500,933.363636
3,100654,Alabama A&M University,0,6,Men's Golf,1,2,Southwestern Athletic Conference,22,898,...,0.8889,7,929,0.8571,1.0000,-99,-99,-99.0000,-99.0000,715.090909
4,100654,Alabama A&M University,0,13,Men's Tennis,1,2,Southwestern Athletic Conference,12,988,...,0.8889,4,1000,1.0000,1.0000,6,958,1.0000,0.9167,279.727273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6506,433660,Florida Gulf Coast University,0,31,Women's Soccer,1,3,Atlantic Sun Conference,88,964,...,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,578.272727
6507,433660,Florida Gulf Coast University,0,29,Women's Softball,1,3,Atlantic Sun Conference,71,996,...,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,582.727273
6508,433660,Florida Gulf Coast University,0,32,Women's Swimming,1,3,Atlantic Sun Conference,84,997,...,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,585.545455
6509,433660,Florida Gulf Coast University,0,33,Women's Tennis,1,3,Atlantic Sun Conference,28,998,...,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,588.545455
6510,433660,Florida Gulf Coast University,0,36,Women's Volleyball,1,3,Atlantic Sun Conference,46,982,...,-99.0000,-99,-99,-99.0000,-99.0000,-99,-99,-99.0000,-99.0000,574.818182

In [161]:
df.drop(df[df['2004_RETENTION'] ==-99.0000].index, inplace=True)

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION,avg_scores
4579,209542,Oregon State University,0,2014,29,Women's Softball,1,1,Pac-12 Conference,70,...,0.9697,17,925,0.9403,0.9105,19,932,0.8919,0.9730,975.727273
5289,219602,Austin Peay State University,0,2014,31,Women's Soccer,1,2,Ohio Valley Conference,89,...,0.9434,26,980,1.0000,0.9600,18,957,1.0000,0.9143,971.636364
3728,196060,University at Albany,0,2014,2,Men's Basketball,1,2,America East Conference,52,...,0.9630,14,942,0.9615,0.9231,10,975,1.0000,0.9500,956.545455
1814,151111,Indiana University-Purdue University at Indian...,0,2014,11,Men's Soccer,1,3,The Summit League,84,...,0.9245,30,946,0.9286,0.9643,29,973,0.9818,0.9636,957.000000
1446,141574,"University of Hawaii, Manoa",0,2014,4,Football,1,1,Big West Conference,368,...,0.9290,87,884,0.8839,0.8581,89,914,0.8963,0.9325,945.909091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2592,166027,Harvard University,1,2014,27,Women's Ice Hockey,1,2,The Ivy League,81,...,1.0000,22,1000,1.0000,1.0000,19,986,1.0000,0.9730,995.818182
3111,181464,"University of Nebraska, Lincoln",0,2014,1,Baseball,1,1,Big Ten Conference,119,...,0.9054,40,940,0.9474,0.8767,35,929,0.9531,0.8387,956.636364
4682,212106,Duquesne University,1,2014,21,Women's Cross Country,1,2,Atlantic 10 Conference,50,...,1.0000,10,1000,1.0000,1.0000,10,1000,1.0000,1.0000,991.090909
6043,232265,Hampton University,1,2014,36,Women's Volleyball,1,2,Mid-Eastern Athletic Conference,46,...,1.0000,12,932,0.9546,0.9091,13,940,0.9600,0.9200,966.545455
2622,166124,College of the Holy Cross,1,2014,22,Women's Rowing,1,2,Patriot League,39,...,0.9737,18,1000,1.0000,1.0000,15,1000,1.0000,1.0000,997.909091

In [162]:
df.loc[df['NCAA_DIVISION']==2]

,SCHOOL_ID,SCHOOL_NAME,SCHOOL_TYPE,ACADEMIC_YEAR,SPORT_CODE,SPORT_NAME,NCAA_DIVISION,NCAA_SUBDIVISION,NCAA_CONFERENCE,FOURYEAR_ATHLETES,...,2006_RETENTION,2005_ATHLETES,2005_SCORE,2005_ELIGIBILITY,2005_RETENTION,2004_ATHLETES,2004_SCORE,2004_ELIGIBILITY,2004_RETENTION,avg_scores
30,100706,University of Alabama in Huntsville,0,2014,8,Men's Ice Hockey,2,-99,Gulf South Conference,99,...,0.9600,21,940,0.9524,0.9286,24,958,0.9375,0.9792,951.545455
156,102553,University of Alaska Anchorage,0,2014,8,Men's Ice Hockey,2,-99,Great Northwest Athletic Conference,89,...,0.8571,23,922,0.9333,0.8667,25,906,0.9167,0.8958,943.454545
158,102614,University of Alaska Fairbanks,0,2014,8,Men's Ice Hockey,2,-99,Great Northwest Athletic Conference,89,...,0.8980,25,980,1.0000,0.9600,25,929,0.9388,0.9184,956.727273
1327,138983,Georgia Regents University Augusta,0,2014,6,Men's Golf,2,-99,Peach Belt Conference,37,...,0.9524,9,912,0.9412,0.8824,7,962,1.0000,0.9231,951.818182
1328,138983,Georgia Regents University Augusta,0,2014,25,Women's Golf,2,-99,Peach Belt Conference,30,...,0.9091,11,929,0.9048,0.9524,7,1000,1.0000,1.0000,982.454545
2519,164447,American International College,1,2014,8,Men's Ice Hockey,2,-99,Northeast-10 Conference,72,...,0.9643,14,1000,1.0000,1.0000,13,1000,1.0000,1.0000,989.818182
2520,164739,Bentley University,1,2014,8,Men's Ice Hockey,2,-99,Northeast-10 Conference,75,...,0.9688,17,985,1.0000,0.9706,16,1000,1.0000,1.0000,992.272727
2634,166513,University of Massachusetts Lowell,0,2014,8,Men's Ice Hockey,2,-99,America East Conference,96,...,0.9130,26,971,1.0000,0.9412,24,979,1.0000,0.9583,975.181818
2668,166850,Merrimack College,1,2014,8,Men's Ice Hockey,2,-99,Northeast-10 Conference,92,...,0.9200,23,956,0.9556,0.9556,23,978,0.9778,0.9778,976.363636
2742,169910,Ferris State University,0,2014,8,Men's Ice Hockey,2,-99,Great Lakes Intercollegiate Athletic Conference,89,...,0.9348,23,967,0.9783,0.9565,21,976,0.9762,0.9524,981.909091
2743,170639,Lake Superior State University,0,2014,8,Men's Ice Hockey,2,-99,Great Lakes Intercollegiate Athletic Conference,98,...,0.8462,27,969,0.9592,0.9796,27,953,0.9623,0.9434,967.454545
2798,171128,Michigan Technological University,0,2014,8,Men's Ice Hockey,2,-99,Great Lakes Intercollegiate Athletic Conference,103,...,0.9600,28,925,0.9623,0.8868,25,969,1.0000,0.9375,970.363636
2799,171456,Northern Michigan University,0,2014,8,Men's Ice Hockey,2,-99,Great Lakes Intercollegiate Athletic Conference,103,...,0.9375,24,1000,1.0000,1.0000,25,969,1.0000,0.9362,971.272727
2834,173124,Bemidji State University,0,2014,8,Men's Ice Hockey,2,-99,Northern Sun Intercollegiate Conference,110,...,0.9200,26,970,1.0000,0.9388,25,990,1.0000,0.9800,977.727273
2835,173124,Bemidji State University,0,2014,27,Women's Ice Hockey,2,-99,Northern Sun Intercollegiate Conference,95,...,0.9583,24,989,1.0000,0.9787,20,1000,1.0000,1.0000,977.363636
2861,174233,University of Minnesota Duluth,0,2014,8,Men's Ice Hockey,2,-99,Northern Sun Intercollegiate Conference,101,...,0.9600,23,865,0.8913,0.8372,25,990,1.0000,0.9800,962.909091
2862,174233,University of Minnesota Duluth,0,2014,27,Women's Ice Hockey,2,-99,Northern Sun Intercollegiate Conference,78,...,0.8750,25,936,0.9575,0.9149,20,974,0.9744,0.9744,961.454545
2863,174358,"Minnesota State University, Mankato",0,2014,8,Men's Ice Hockey,2,-99,Northern Sun Intercollegiate Conference,105,...,0.8679,27,944,0.9630,0.9259,25,980,1.0000,0.9592,965.363636
2864,174358,"Minnesota State University, Mankato",0,2014,27,Women's Ice Hockey,2,-99,Northern Sun Intercollegiate Conference,92,...,0.9111,25,939,0.9796,0.8980,22,966,0.9546,0.9773,971.272727
2865,174783,St. Cloud State University,0,2014,8,Men's Ice Hockey,2,-99,Northern Sun Intercollegiate Conference,95,...,0.9130,25,980,1.0000,0.9600,27,898,0.9444,0.8519,957.636364
2866,174783,St. Cloud State University,0,2014,27,Women's Ice Hockey,2,-99,Northern Sun Intercollegiate Conference,93,...,0.9348,25,948,0.9375,0.9583,22,955,0.9773,0.9318,980.454545
3098,181394,University of Nebraska Omaha,0,2014,8,Men's Ice Hockey,2,-99,The Summit League,100,...,0.9091,29,929,0.9286,0.9286,27,971,0.9804,0.9608,950.818182
3651,194091,New York Institute of Technology,1,2014,1,Baseball,2,-99,East Coast Conference,90,...,0.9348,28,942,0.9808,0.9039,28,909,0.9455,0.8727,952.545455
4631,211158,Bloomsburg University of Pennsylvania,0,2014,18,Men's Wrestling,2,-99,Pennsylvania State Athletic Conference,66,...,0.9677,17,953,0.9063,1.0000,16,903,0.9677,0.8387,948.181818
4659,211644,Clarion University of Pennsylvania,0,2014,18,Men's Wrestling,2,-99,Pennsylvania State Athletic Conference,64,...,0.8750,13,820,0.8400,0.8000,13,920,0.9200,0.9200,916.818182
4691,212160,Edinboro University of Pennsylvania,0,2014,18,Men's Wrestling,2,-99,Pennsylvania State Athletic Conference,81,...,0.9474,21,939,0.9512,0.9268,20,934,0.9737,0.8947,947.545455
4762,213613,Lock Haven University of Pennsylvania,0,2014,18,Men's Wrestling,2,-99,Pennsylvania State Athletic Conference,69,...,0.8444,22,989,0.9546,1.0000,17,922,0.9063,0.9375,946.545455
4764,213987,Mercyhurst University,1,2014,8,Men's Ice Hockey,2,-99,Pennsylvania State Athletic Conference,58,...,0.8462,14,946,0.8929,1.0000,24,979,0.9792,0.9792,964.909091
4765,213987,Mercyhurst University,1,2014,27,Women's Ice Hockey,2,-99,Pennsylvania State Athletic Conference,73,...,0.9667,17,912,0.8529,0.9706,23,967,0.9778,0.9556,964.545455

In [136]:
div=df.groupby('SCHOOL_NAME')['t']

KeyError: 'Column not found: t'